PORT=3001
DATABASE_URI=mongodb://localhost:27017
DATABASE_NAME=auditorium-booking
NODE_ENV=development
CORS_ORIGINS=http://localhost:3000
# MSG91 OTP Configuration
OTP_AUTH_KEY=your_msg91_auth_key
OTP_BASE_URL=https://control.msg91.com/api/v5/otp
OTP_TEMPLATE_ID=your_msg91_template_id
OTP_TIMEOUT=10
RAZORPAY_KEY_ID=rzp_test_mockkeyid123
RAZORPAY_KEY_SECRET=mockkeysecret1234567890